@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap');

// @import "~bootstrap/scss/bootstrap";
@import "~vue-select/src/scss/vue-select";

@import "global";

@import "elements/a";

@import "heading";
@import "form";

@import "layout/navbar";
@import "layout/navbar__user";
@import "layout/footer";
@import "layout/institutions-map";

@import "layout/page__header";
@import "layout/content";

@import "results-table";

@import "frontend_builder";
@import "frontend_builder_cm";
@import "modal";
@import "sidebar_tool";
@import "boxModel";
@import "manage_component";
@import "reset";


@import "components/icon-link";
@import "components/button";
@import "components/v-select";

.rel {
    position: relative !important;
}

.w100 {
    width: 100% !important;
}

.h100 {
    height: 100% !important;
}

.w300px {
    width: 300px !important;
}

.w50px {
    width: 50px !important;
}

.w90 {
    width: 90% !important;
}