.page__header {
  //@include make-row();

  margin-top: 25px;
  margin-bottom: 25px;
  padding-bottom: 35px;
  border-bottom: 1px solid rgba(gray, 0.3);

  &-title {
    @extend .heading;
    @extend .heading--page;
    //@extend .heading--page;
    //@include make-col-ready();
    //@include make-col(6);
  }

  &-actions {
    //@include make-col-ready();
    //@include make-col(6);

    text-align: right;

    &-btn {
      border: 2px solid blue;
      text-transform: uppercase;
      font-weight: bold;
    }
  }

  &--home {
    border-bottom: none;


    .input-label {
      font-size: .7rem;
    }

    .page__header-title {
      margin-top: 15px;
      margin-bottom: 35px;
      text-align: center;
    }

    .vs__dropdown-toggle {
      @extend .form-control;
      display: flex;
    }
  }
}
